<script type="text/html" id="AutoCompleteView">
<div class="AutoCompleteView">
	<h3>Input</h3>
	<div class="row flex-parent">
		<div class="left-size flex-child-2">
			<div class="autoCompleteView-form form-horizontal">
				<div class="form-group flex-parent">
					<div class="control-title flex-child-1">
						<label for="search" class="control-label">Text Search</label>
					</div>
					<div class="control-input flex-child-3">
						<input type="text" class="form-control q_search" placeholder="">
					</div>
				</div>
				<div class="form-group  flex-parent geo-group hide">
					<div class="control-title flex-child-1">
						<label for="search" class="control-label">GEO</label>
					</div>
					<div class="control-input flex-child-3">
						<input type="text" class="form-control geo" placeholder="">
					</div>
					<div class="control-title flex-child-1">
						<label for="search" class="control-label"></label>
					</div>
					<div class="flex-child-3">
						<select class="geo-type form-control">
							<option value ="city">city</option>
							<option value ="state">state</option>
							<option value="country">country</option>
							<option value="zip">zip</option>
							<option value="latlong">latlong</option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="right-side flex-child-1">
			<div class="search-columns">
				<span class="text label">Search Columns</span>
				<div class="columns">
					<div class="line">
						<label class="radio-inline">
						  <input type="radio" name="searchType" value="education"> Education
						</label>
						<label class="radio-inline">
						  <input type="radio" name="searchType" value="company"> Employer 
						</label>
						<label class="radio-inline">
						  <input type="radio" name="searchType" value="skill" checked> Skill
						</label>
					</div>
					<div class="line">
						<label class="radio-inline">
						  <input type="radio" name="searchType" value="location"> Location
						</label>
						<label class="radio-inline">
						  <input type="radio" name="searchType" value="degree"> Degree
						</label>
						<label class="radio-inline">
						  <input type="radio" name="searchType" value="major"> Major
						</label>
					</div>
					<div class="line">
						<label class="radio-inline">
						  <input type="radio" name="searchType" value="stage"> Stage
						</label>
					</div>
						
				</div>
			</div>			
		</div>
	</div>

	<section class="bottomSectionCtn">

	</section>
</div>
</script>