<script type="text/html" id="ComplianceView">
<div class="ComplianceView">
	<ul class="nav nav-tabs customfields">
		<li class="get-mode active"><a href="javascript:void(0)">getComplianceMode</a></li>
		<li class="set-mode"><a>setComplianceMode</a></li>
	</ul>
	<h3 class="lable-input">Input</h3>
	<div class="row">
		<div class="col-md-8 left-size">
			<div class="complianceView-form form-horizontal">
			</div>
		</div>
	</div>
	<section class="bottomSectionCtn">

	</section>
</div>
</script>

<script id="ComplianceView-items-set" type="text/html">
	<div class="form-group flex-parent">
		<div class="control-title flex-child-1">
			<label for="search" class="control-label">Compliance Mode</label>
		</div>
		<div class="flex-child-3">
			<div class="value">
				<select class="form-control mode">
					<option value ="true">true</option>
					<option value ="false">false</option>
				</select>
			</div>
		</div>
	</div>
</script>
