<script type="text/html" id="CustomFieldsView">
<div class="CustomFieldsView">
	<ul class="nav nav-tabs customfields">
	  <li class="custom-fields active"><a href="javascript:void(0)">getCustomFields</a></li>
	  <li class="custom-field-ac"><a>getCustomFieldAutoCompleteData</a></li>
	  <li class="custom-filter-ac"><a>getCustomFilterAutoCompleteData</a></li>
	</ul>
	<h3 class="lable-input">Input</h3>
	<div class="row">
		<div class="col-md-8 left-size">
			<div class="customFieldsView-form form-horizontal">
			</div>
		</div>
	</div>
	<section class="bottomSectionCtn">

	</section>
</div>
</script>

<script id="CustomFieldsView-items" type="text/html">
	<div class="form-group">
		<div class="form-group flex-parent">
			<div class="control-title flex-child-1">
				<label for="search" class="control-label">Field Name</label>
			</div>
			<div class="flex-child-3">
				<input type="text" class="form-control field-name" placeholder="">
			</div>
		</div>
		<div class="form-group flex-parent">
			<div class="control-title flex-child-1">
				<label for="search" class="control-label">Text Search</label>
			</div>
			<div class="flex-child-3">
				<input type="text" class="form-control q_search" placeholder="">
			</div>
		</div>
		
	</div>
</script>
