<!-- searchView-->
<script type="text/html" id="tmpl-devVRP-skill-helper">
	<div class="helper-text">
				
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-education-helper">
	<div class="helper-text">
		Example: "Welding Wolf Creek Job corps Civilian Conservation Center Glide" or "Umqua Community college"	
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-employer-helper">
	<div class="helper-text">
		Example: "Cresco Equipment Rentals" or "Royal Trucking Company" 
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-location-helper">
	<div class="helper-text">

	</div>
</script>
<script type="text/html" id="tmpl-devVRP-userlist-helper">
	<div class="helper-text">
		Example: "Short List 8" or "Short List 10"
	</div>
</script>

<script type="text/html" id="tmpl-devVRP-geo-city-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-geo-state-helper">
	<div class="helper-text">
		Example: "NC" or "KS"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-geo-country-helper">
	<div class="helper-text">
		Example: "US" or "JP"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-geo-zip-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-geo-latlong-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-geo-any-helper">
	<div class="helper-text">
		Example: "NC" or "US"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-geo-type-helper">
	<div class="helper-text">
		Example: "city"	
	</div>
</script>

<script type="text/html" id="tmpl-devVRP-joborders-helper">
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-jobtitle-helper">
	<div class="helper-text">
		Example: "engineer"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-degree-helper">
	<div class="helper-text">
		Example: "GED" or "Certificate"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-major-helper">
	<div class="helper-text">
		Example: "Combat Lifesavers Course" or "Construction equipment Repair Course"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-before-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2016-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-after-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2000-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-stages-helper">
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-degrees-helper">
	<div class="helper-text">
		Example: "GED" or "Certificate"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-majors-helper">
	<div class="helper-text">
		Example: "Combat Lifesavers Course" or "Construction equipment Repair Course"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-certifications-helper">
	<div class="helper-text">
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<!-- /searchView-->

<!-- ominisearch-->
<script type="text/html" id="tmpl-devVRP-ominisearch-helper">
	<div class="helper-text">
		Example: "Stoneville"
	</div>
</script>
<!-- /ominisearch-->

<!-- autocomplete-->
<script type="text/html" id="tmpl-devVRP-autocomplete-helper">
	<div class="helper-text">
	
	</div>
</script>
<!-- /autocomplete-->

<!-- customfields -->
<script type="text/html" id="tmpl-devVRP-field-name-helper">
	<div class="helper-text">
		Example: "education" or "company"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP-q_search-helper">
	<div class="helper-text">
		Example: "um" or "Cresco"
	</div>
</script>
<!-- /customfields -->