<!-- searchView-->
<script type="text/html" id="tmpl-devVRP2-skill-helper">
	<div class="helper-text">
		Example: "1" or "1, 2" ("1" is "Linux", "3" is "C")		
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-education-helper">
	<div class="helper-text">
		Example: "MIT" 	
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-employer-helper">
	<div class="helper-text">
		Example: "Linux Foundation"	
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-location-helper">
	<div class="helper-text">
		
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-userlist-helper">
	<div class="helper-text">
		Example: "tt" or "gg"
	</div>
</script>

<script type="text/html" id="tmpl-devVRP2-geo-city-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-geo-state-helper">
	<div class="helper-text">
		Example: "CA" or "KS"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-geo-country-helper">
	<div class="helper-text">
		Example: "US" or "JP"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-geo-zip-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-geo-latlong-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-geo-any-helper">
	<div class="helper-text">
		Example: "CA" or "JP"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-geo-type-helper">
	<div class="helper-text">
		Example: "city"	
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-radius-helper">
	<div class="helper-text">
		Example: "600"
	</div>
	<div class="helper-text">
		Note: state, country not support radius
	</div>
</script>

<script type="text/html" id="tmpl-devVRP2-joborders-helper">
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-jobtitle-helper">
	<div class="helper-text">
		Example: "CEO"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-degree-helper">
	<div class="helper-text">
		Example: "CS"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-major-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-before-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2016-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-after-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2000-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-stages-helper">
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-degrees-helper">
	<div class="helper-text">
		Example: "CS"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-majors-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-certifications-helper">
	<div class="helper-text">
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<!-- /searchView-->

<!-- ominisearch-->
<script type="text/html" id="tmpl-devVRP2-ominisearch-helper">
	<div class="helper-text">
		Example: "java"
	</div>
</script>
<!-- /ominisearch-->

<!-- autocomplete-->
<script type="text/html" id="tmpl-devVRP2-autocomplete-helper">
	<div class="helper-text">
		Example: "java"	
	</div>
</script>
<!-- /autocomplete-->

<!-- customfields -->
<script type="text/html" id="tmpl-devVRP2-field-name-helper">
	<div class="helper-text">
		Example: "skill" or "education"
	</div>
</script>
<script type="text/html" id="tmpl-devVRP2-q_search-helper">
	<div class="helper-text">
		Example: "ja" or "st"
	</div>
</script>
<!-- /customfields -->
<script type="text/html" id="tmpl-devVRP2-returnOnly-helper">
	<div class="helper-text">
		Example: "sfid" or "rank"
	</div>
</script>