<!-- searchView-->
<script type="text/html" id="tmpl-demo1-skill-helper">
	<div class="helper-text">
		Example: "231" or "231, 971" ("33" is "Manager", "971" is "SAP")		
	</div>
</script>
<script type="text/html" id="tmpl-demo1-education-helper">
	<div class="helper-text">
		Example: "Keio University" or "Keio University, high school"	
	</div>
</script>
<script type="text/html" id="tmpl-demo1-employer-helper">
	<div class="helper-text">
		Example: "Heineken" or "IBM"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-location-helper">
	<div class="helper-text">
		Example: "179555" or "179555, 24586" ("179555" is "London (GB)", "24586" is "New York (NY)")		
	</div>
</script>
<script type="text/html" id="tmpl-demo1-userlist-helper">
	<div class="helper-text">
		Example: "QA Engineers" or "Happy Hour Talent Mixer"
	</div>
</script>

<script type="text/html" id="tmpl-demo1-geo-city-helper">
	<div class="helper-text">
		Example: "London" or "Oslo"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-geo-state-helper">
	<div class="helper-text">
		Example: "CA"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-geo-country-helper">
	<div class="helper-text">
		Example: "US" or "JP"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-geo-zip-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-demo1-geo-latlong-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-demo1-geo-any-helper">
	<div class="helper-text">
		Example: "CA" or "London"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-geo-type-helper">
	<div class="helper-text">
		Example: "city"	
	</div>
</script>
<script type="text/html" id="tmpl-demo1-radius-helper">
	<div class="helper-text">
		Example: "600"	
	</div>
	<div class="helper-text">
		Note: state, country not support radius
	</div>
</script>

<script type="text/html" id="tmpl-demo1-joborders-helper">
	<div class="helper-text">
		Example: "QA Engineer" or "Stage Director"
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-demo1-jobtitle-helper">
	<div class="helper-text">
		Example: "Director" or "senior"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-degree-helper">
	<div class="helper-text">
		Example: "Bachelor" or "Certificate"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-major-helper">
	<div class="helper-text">
		Example: "Mechanical Engineering" or "Computer Science"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-before-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2016-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-after-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2000-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-stages-helper">
	<div class="helper-text">
		Example: "Application" or "Interview"
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-demo1-degrees-helper">
	<div class="helper-text">
		Example: "Bachelor" or "Certificate"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-majors-helper">
	<div class="helper-text">
		Example: "Mechanical Engineering" or "Computer Science"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-certifications-helper">
	<div class="helper-text">
		Example: "RN-C" or "CCRN"
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<!-- /searchView-->

<!-- ominisearch-->
<script type="text/html" id="tmpl-demo1-ominisearch-helper">
	<div class="helper-text">
		Example: "java" or "San Francisco"	
	</div>
</script>
<!-- /ominisearch-->

<!-- autocomplete-->
<script type="text/html" id="tmpl-demo1-autocomplete-helper">
	<div class="helper-text">
		Example: "java"	
	</div>
</script>
<!-- /autocomplete-->

<!-- customfields -->
<script type="text/html" id="tmpl-demo1-field-name-helper">
	<div class="helper-text">
		Example: "skill" or "education"
	</div>
</script>
<script type="text/html" id="tmpl-demo1-q_search-helper">
	<div class="helper-text">
		Example: "ja" or "un"
	</div>
</script>
<!-- /customfields -->
<script type="text/html" id="tmpl-demo1-returnOnly-helper">
	<div class="helper-text">
		Example: "sfid" or "rank"
	</div>
</script>