<!-- searchView-->
<script type="text/html" id="tmpl-dev2-skill-helper">
	<div class="helper-text">
		Example: "33" or "33, 62" ("33" is "EXCEL", "62" is "POWERPOINT")		
	</div>
</script>
<script type="text/html" id="tmpl-dev2-education-helper">
	<div class="helper-text">
		Example: "Jagiellonian University" or "Jagiellonian University, Oberschule"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-employer-helper">
	<div class="helper-text">
		Example: "Red Hat Inc." or "TOR"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-location-helper">
	<div class="helper-text">
		Example: "179555" or "179555, 24586" ("179555" is "London (GB)", "24586" is "New York (NY)")		
	</div>
</script>
<script type="text/html" id="tmpl-dev2-userlist-helper">
	<div class="helper-text">
		Example: "ABC"
	</div>
</script>

<script type="text/html" id="tmpl-dev2-geo-city-helper">
	<div class="helper-text">
		Example: "London" or "Oslo"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-geo-state-helper">
	<div class="helper-text">
		Example: "CA"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-geo-country-helper">
	<div class="helper-text">
		Example: "US" or "JP"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-geo-zip-helper">
	<div class="helper-text">
		Example: "94105"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-geo-latlong-helper">
	<div class="helper-text">
		Example: "37.789228,-122.3957"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-geo-any-helper">
	<div class="helper-text">
		Example: "CA" or "94105"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-geo-type-helper">
	<div class="helper-text">
		Example: "city"	
	</div>
</script>
<script type="text/html" id="tmpl-dev2-radius-helper">
	<div class="helper-text">
		Example: "600"	
	</div>
	<div class="helper-text">
		Note: state, country not support radius
	</div>
</script>

<script type="text/html" id="tmpl-dev2-joborders-helper">
	<div class="helper-text">
		Example: "Java developer" or "a0V36000000EPlN";
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-dev2-jobtitle-helper">
	<div class="helper-text">
		Example: "Director" or "senior"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-degree-helper">
	<div class="helper-text">
		Example: "Bachelor" or "Certificate"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-major-helper">
	<div class="helper-text">
		Example: "Mechanical Engineering" or "European Studies"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-before-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2016-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-after-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2000-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-stages-helper">
	<div class="helper-text">
		Example: "Application"
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-dev2-degrees-helper">
	<div class="helper-text">
		Example: "Bachelor" or "Certificate"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-majors-helper">
	<div class="helper-text">
		Example: "Mechanical Engineering" or "European Studies"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-certifications-helper">
	<div class="helper-text">
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<!-- /searchView-->

<!-- ominisearch-->
<script type="text/html" id="tmpl-dev2-ominisearch-helper">
	<div class="helper-text">
		Example: "java" or "San Francisco"	
	</div>
</script>
<!-- /ominisearch-->

<!-- autocomplete-->
<script type="text/html" id="tmpl-dev2-autocomplete-helper">
	<div class="helper-text">
		Example: "java"	
	</div>
</script>
<!-- /autocomplete-->

<!-- customfields -->
<script type="text/html" id="tmpl-dev2-field-name-helper">
	<div class="helper-text">
		Example: "skill" or "education"
	</div>
</script>
<script type="text/html" id="tmpl-dev2-q_search-helper">
	<div class="helper-text">
		Example: "ja" or "un"
	</div>
</script>
<!-- /customfields -->
<script type="text/html" id="tmpl-dev2-returnOnly-helper">
	<div class="helper-text">
		Example: "sfid" or "rank"
	</div>
</script>