<!-- searchView-->
<script type="text/html" id="tmpl-jobsBigData-skill-helper">
	<div class="helper-text">
		Example: "298" or "298, 262" ("298" is "DEVELOPER - JAVA", "262" is "NETWORK ENGINEER")		
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-education-helper">
	<div class="helper-text">
		Example: "Macquarie University" or "Macquarie University, Deakin University"
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-employer-helper">
	<div class="helper-text">
		Example: "2584" or "2584, 11110" ("2584" is "Telstra", "11110" is "McDonalds")		
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-location-helper">
	<div class="helper-text">
		Example: "49316" or "49316, 51817" ("49316" is "East Brisbane (AU)", "51817" is "Norman Park (AU)")		
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-userlist-helper">
	<div class="helper-text">
		Example: "TH - Rem and Ben" or "Concreter/Formworker"
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-joborders-helper">
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-jobtitle-helper">
	<div class="helper-text">
		Example: "Director" or "Monitor"
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-degree-helper">
	<div class="helper-text">
		Example: "BS" or "Bachelor"
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-major-helper">
	<div class="helper-text">
		Example: "design" or "Technology"
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-before-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2016-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-after-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2000-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-stages-helper">
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-degrees-helper">
	<div class="helper-text">
		Example: "BS" or "Bachelor"
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-majors-helper">
	<div class="helper-text">
		Example: "design" or "Technology"
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-certifications-helper">
	<div class="helper-text">
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<!-- /searchView-->

<!-- ominisearch-->
<script type="text/html" id="tmpl-jobsBigData-ominisearch-helper">
	<div class="helper-text">
		Example: "java"
	</div>
</script>
<!-- /ominisearch-->

<!-- autocomplete-->
<script type="text/html" id="tmpl-jobsBigData-autocomplete-helper">
	<div class="helper-text">
		Example: "java"	
	</div>
</script>
<!-- /autocomplete-->

<!-- customfields -->
<script type="text/html" id="tmpl-jobsBigData-field-name-helper">
	<div class="helper-text">
		Example: "skill" or "education"
	</div>
</script>
<script type="text/html" id="tmpl-jobsBigData-q_search-helper">
	<div class="helper-text">
		Example: "AC" or "un"
	</div>
</script>
<!-- /customfields -->