<!-- searchView-->
<script type="text/html" id="tmpl-core-skill-helper">
	<div class="helper-text">
		Example: "24" or "24, 278" ("33" is "Microsoft Office", "278" is "Adobe Photoshop")		
	</div>
</script>
<script type="text/html" id="tmpl-core-education-helper">
	<div class="helper-text">
		Example: "High School" or "High School, Mohawk College"	
	</div>
</script>
<script type="text/html" id="tmpl-core-employer-helper">
	<div class="helper-text">
		Example: "Oracle" or "Oracle, Red Hat Inc."
	</div>
</script>
<script type="text/html" id="tmpl-core-location-helper">
	<div class="helper-text">
		
	</div>
</script>
<script type="text/html" id="tmpl-core-userlist-helper">
	<div class="helper-text">
		Example: "wewe" or "Dmitry1"
	</div>
</script>

<script type="text/html" id="tmpl-core-geo-city-helper">
	<div class="helper-text">
		Example: "New York" or "London"
	</div>
</script>
<script type="text/html" id="tmpl-core-geo-state-helper">
	<div class="helper-text">
		Example: "CA" or "KS"
	</div>
</script>
<script type="text/html" id="tmpl-core-geo-country-helper">
	<div class="helper-text">
		Example: "US" or "JP"
	</div>
</script>
<script type="text/html" id="tmpl-core-geo-zip-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-core-geo-latlong-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-core-geo-any-helper">
	<div class="helper-text">
		Example: "CA" or "New York"
	</div>
</script>
<script type="text/html" id="tmpl-core-geo-type-helper">
	<div class="helper-text">
		Example: "city"	
	</div>
</script>

<script type="text/html" id="tmpl-core-joborders-helper">
	<div class="helper-text">
		Example: "Teacher" or "Kim Ross Job Order1"
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-core-jobtitle-helper">
	<div class="helper-text">
		Example: "Director" or "senior"
	</div>
</script>
<script type="text/html" id="tmpl-core-degree-helper">
	<div class="helper-text">
		Example: "BS" or "Bachelor of Technology"
	</div>
</script>
<script type="text/html" id="tmpl-core-major-helper">
	<div class="helper-text">
		Example: "Industrial Engineering" or "Computer Science"
	</div>
</script>
<script type="text/html" id="tmpl-core-before-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2016-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-core-after-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2000-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-core-stages-helper">
	<div class="helper-text">
		Example: "Application"
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-core-degrees-helper">
	<div class="helper-text">
		Example: "BS" or "Bachelor of Technology"
	</div>
</script>
<script type="text/html" id="tmpl-core-majors-helper">
	<div class="helper-text">
		Example: "Industrial Engineering" or "Computer Science"
	</div>
</script>
<script type="text/html" id="tmpl-core-certifications-helper">
	<div class="helper-text">
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<!-- /searchView-->

<!-- ominisearch-->
<script type="text/html" id="tmpl-core-ominisearch-helper">
	<div class="helper-text">
		Example: "java" or "San Francisco"	
	</div>
</script>
<!-- /ominisearch-->

<!-- autocomplete-->
<script type="text/html" id="tmpl-core-autocomplete-helper">
	<div class="helper-text">
		Example: "java"	
	</div>
</script>
<!-- /autocomplete-->

<!-- customfields -->
<script type="text/html" id="tmpl-core-field-name-helper">
	<div class="helper-text">
		Example: "skill" or "education"
	</div>
</script>
<script type="text/html" id="tmpl-core-q_search-helper">
	<div class="helper-text">
		Example: "ja" or "un"
	</div>
</script>
<!-- /customfields -->