<!-- searchView-->
<script type="text/html" id="tmpl-branchG-skill-helper">
	<div class="helper-text">
		Example: "391" or "391, 359" ("391" is "Java", "359" is ".NET")		
	</div>
</script>
<script type="text/html" id="tmpl-branchG-education-helper">
	<div class="helper-text">
		Example: "University of London" or "University of London, Murray State University"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-employer-helper">
	<div class="helper-text">
	</div>
</script>
<script type="text/html" id="tmpl-branchG-location-helper">
	<div class="helper-text">
		Example: "179555" or "179555, 24586" ("179555" is "London (GB)", "24586" is "New York (NY)")
	</div>
</script>
<script type="text/html" id="tmpl-branchG-userlist-helper">
	<div class="helper-text">
		Example: "TH - Rem and Ben" or "Concreter/Formworker"
	</div>
</script>

<script type="text/html" id="tmpl-branchG-geo-city-helper">
	<div class="helper-text">
		Example: "Greensburg" or "Chicago"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-geo-state-helper">
	<div class="helper-text">
		Example: "CA" or "LA"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-geo-country-helper">
	<div class="helper-text">
		Example: "US" or "JP"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-geo-zip-helper">
	<div class="helper-text">
		Example: "60647" or "41001"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-geo-latlong-helper">
	<div class="helper-text">
		Example: "41.921126,-87.70085"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-geo-any-helper">
	<div class="helper-text">
		Example: "CA" or "60647"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-geo-type-helper">
	<div class="helper-text">
		Example: "city"	
	</div>
</script>

<script type="text/html" id="tmpl-branchG-joborders-helper">
	<div class="helper-text">
		Example: "nai" or "Super-Duper Developer"
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-branchG-jobtitle-helper">
	<div class="helper-text">
		Example: "engineer" or "senior"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-degree-helper">
	<div class="helper-text">
		Example: "Bachelors" or "Bachelor of Technology"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-major-helper">
	<div class="helper-text">
		Example: "Information Systems" or "Mechanical Engineering"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-before-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2016-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-after-date-helper">
	<div class="helper-text">
		format: YYYY-MM-DD, Example: "2000-01-01"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-stages-helper">
	<div class="helper-text">
		Example: "Application"
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<script type="text/html" id="tmpl-branchG-degrees-helper">
	<div class="helper-text">
		Example: "Bachelors" or "Bachelor of Technology"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-majors-helper">
	<div class="helper-text">
		Example: "Information Systems" or "Mechanical Engineering"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-certifications-helper">
	<div class="helper-text">
	</div>
	<div class="helper-text">
		Note: does not work on 'jobsBigData', 'devVRP' and 'devVRP2'
	</div>
</script>
<!-- /searchView-->

<!-- ominisearch-->
<script type="text/html" id="tmpl-branchG-ominisearch-helper">
	<div class="helper-text">
		Example: "java", "San Francisco", "94105", "CA", "US"
	</div>
</script>
<!-- /ominisearch-->

<!-- autocomplete-->
<script type="text/html" id="tmpl-branchG-autocomplete-helper">
	<div class="helper-text">
		Example: "java"	
	</div>
</script>
<!-- /autocomplete-->

<!-- customfields -->
<script type="text/html" id="tmpl-branchG-field-name-helper">
	<div class="helper-text">
		Example: "skill" or "education"
	</div>
</script>
<script type="text/html" id="tmpl-branchG-q_search-helper">
	<div class="helper-text">
		Example: "ja" or "un"
	</div>
</script>
<!-- /customfields -->