<div class="OmniSearchView">
	<h3>Input</h3>
	<div class="row">
		<div class="col-md-8 left-size">
			<div class="omniSearchView-form form-horizontal">
				<div class="form-group">
					<label for="search" class="col-sm-3">Text Search</label>
					<div class="col-sm-9">
						<input type="text" class="form-control q_search" placeholder="">
					</div>
					<label for="search" class="col-sm-3">Only Type</label>
					<div class="col-sm-9">
						<div class="value">
							<select class="only_type form-control">
								<option value ="">None</option>
								<option value ="skill">Skill</option>
								<option value ="education">Education</option>
								<option value ="employer">Employer</option>
								<option value ="geo">Geo</option>
								<option value ="degree">Degree</option>
								<option value ="major">Major</option>
								<option value ="userlist">Userlist</option>
								<option value ="joborder">Joborder</option>
								<option value ="stage">Stage</option>
								<option value ="title">Title</option>
								<option value ="certification">Certification</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section class="bottomSectionCtn">

	</section>
</div>