<script type="text/html" id="ShortListAndJobView">
<div class="ShortListAndJobView">
	<ul class="nav nav-tabs customfields">
		<li class="add-job-order active"><a href="javascript:void(0)">addToJobOrder</a></li>
		<li class="add-short-list"><a>addToShortList</a></li>
		<li class="remove-short-list"><a>removeFromShortList</a></li>
		<li class="create-short-list"><a>createShortList</a></li>
	</ul>
	<h3 class="lable-input">Input</h3>
	<div class="row">
		<div class="col-md-8 left-size">
			<div class="shortListAndJobView-form form-horizontal">
			</div>
		</div>
	</div>
	<section class="bottomSectionCtn">

	</section>
</div>
</script>

<script id="ShortListAndJobView-items-job" type="text/html">
	<div class="form-group">
		<div class="form-group flex-parent">
			<div class="control-title flex-child-1">
				<label for="search" class="control-label">Application SFID</label>
			</div>
			<div class="flex-child-3">
				<input type="text" class="form-control sfid" placeholder="">
			</div>
		</div>

		<div class="form-group flex-parent">
			<div class="control-title flex-child-1">
				<label for="search" class="control-label">Candidate SFID</label>
			</div>
			<div class="flex-child-3">
				<input type="text" class="form-control candidate-sfid" placeholder="">
			</div>
		</div>

		<div class="form-group flex-parent">
			<div class="control-title flex-child-1">
				<label for="search" class="control-label">Job SFID</label>
			</div>
			<div class="flex-child-3">
				<input type="text" class="form-control job-sfid" placeholder="">
			</div>
		</div>
	</div>
</script>

<script id="ShortListAndJobView-items-short-list" type="text/html">
	<div class="form-group">
		<div class="form-group flex-parent">
			<div class="control-title flex-child-1">
				<label for="search" class="control-label">Shortlistlink SFID</label>
			</div>
			<div class="flex-child-3">
				<input type="text" class="form-control sfid" placeholder="">
			</div>
		</div>

		<div class="form-group flex-parent">
			<div class="control-title flex-child-1">
				<label for="search" class="control-label">Candidate SFID</label>
			</div>
			<div class="flex-child-3">
				<input type="text" class="form-control candidate-sfid" placeholder="">
			</div>
		</div>

		<div class="form-group flex-parent">
			<div class="control-title flex-child-1">
				<label for="search" class="control-label">ShortList SFID</label>
			</div>
			<div class="flex-child-3">
				<input type="text" class="form-control shortList-sfid" placeholder="">
			</div>
		</div>
	</div>
</script>

<script id="ShortListAndJobView-removeFromShortList" type="text/html">
	<div class="form-group savedSearch-id flex-parent">
		<div class="control-title flex-child-1">
			<label for="search" class="control-label">SFIDS</label>
		</div>
		<div class="flex-child-3">
			<input type="text" class="form-control id" placeholder="">
		</div>
	</div>
</script>

<script id="ShortListAndJobView-createShortList" type="text/html">
	<div class="form-group createShortList">
		<div class="form-group flex-parent">
			<div class="control-title flex-child-1">
				<label for="search" class="control-label">SFID</label>
			</div>
			<div class="flex-child-3">
				<input type="text" class="form-control sfid" placeholder="">
			</div>
		</div>
		<div class="form-group flex-parent">
			<div class="control-title flex-child-1">
				<label for="search" class="control-label">Name</label>
			</div>
			<div class="flex-child-3">
				<input type="text" class="form-control name" placeholder="">
			</div>
		</div>
	</div>
</script>