.OmniSearchView{
	.omniSearchView-form{
		.form-group{

			button{
				width: 120px;
				height: 32px;
				margin-top: 12px;
				margin-left: 24px;
				margin-bottom: 16px;
				&.btn-primary{
					color: #ffffff;
					background-color: #428bca;
					border-color: #357ebd;
				}
			}
		}
	}
}